p {color: #bababa;
text-align: center;
}

#test-id-1 {
  color:Black;
}

p:first-letter {
  font-size: 120%
}

p {

  color: #gray;
}

h1{
  font-style: italic;
  font-size: 300%
  color:#fc9803;
}

h2{
  font-style: bold;
  font-size: 200%
  color:black;
}

h3{
  font-style: italic;
  font-size: 150%
  color: #fc9803;
}

button{
  color: #fc9803;
}


.hidden-thing {
  background-color: transparent;
  color: transparent;
  height: 0px;
  transition: all .25s ease-in-out;
}

.test-class {
  text-shadow: 2px 5px #fc9803;
}

a:hover{
  color: #7303fc;
}

title{
  font-style: oblique;
  color: #fc9803;
  text-align: center;
}

body{font-family: 'Courier Prime', monospace;
  text-align: center;
  text-shadow: #fc9803;
}

.hover-button{
  border-top-left-radius: 25px
  padding: 16px
  border: none:;
  transition:box-shadow 1s linear;
}

.hover-button:hover{
  box-shadow: 1px 1px 3px 1px
}

a{
  color:#fcb103
}
