p {color: red;
text-align: center;
}

#test-id-1 {
  color:purple;
}

p:first-letter {
  font-size: 120%
}

p {
  color:yellow;
}

h1{
  font-style: italic;
  font-size: 300%
}

.test-class {
  text-shadow: 2px 5px purple;
}

a:hover{
  color: white;
}

@keyframes slidein {
  from{
    margin-left: 100%;
    width: 300px;
  }

50% {
  margin-left: 40%;
  
}

to {
  margin-left: 0%;
  width: 100%;
}
}

.slide-in {
animation-duration: 4s;
animation-name: slidein;
}
